.link {
	position: relative;
	text-decoration: none;
	transition: var(--transition-025);

	&:hover {
		color: var(--color-orange);
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -3px;
		width: 100%;
		height: 2px;
		background: var(--color-orange);
		transition: var(--transition-025);
	}

	&:hover::after {
		filter: blur(2px);
	}
}

.thing {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 0 var(--p-2) 0;
	border-radius: 0 var(--p-1-5) var(--p-1-5) 0;
	position: relative;
	transition: var(--transition-025);

	@media (orientation: portrait) {
		padding: var(--p-1-5) 0 var(--p-5) 0;
	}
}

.emoji.o3 {
	text-shadow: var(--color-white) 3px 0 0,
		var(--color-white) 2.90674px 0.742212px 0,
		var(--color-white) 2.63275px 1.43828px 0,
		var(--color-white) 2.19507px 2.04492px 0,
		var(--color-white) 1.62091px 2.52441px 0,
		var(--color-white) 0.945968px 2.84696px 0,
		var(--color-white) 0.212212px 2.99249px 0,
		var(--color-white) -0.534738px 2.95196px 0,
		var(--color-white) -1.24844px 2.72789px 0,
		var(--color-white) -1.88452px 2.33422px 0,
		var(--color-white) -2.40343px 1.79542px 0,
		var(--color-white) -2.77291px 1.14498px 0,
		var(--color-white) -2.96998px 0.42336px 0,
		var(--color-white) -2.98239px -0.324586px 0,
		var(--color-white) -2.80937px -1.05235px 0,
		var(--color-white) -2.46168px -1.71469px 0,
		var(--color-white) -1.96093px -2.27041px 0,
		var(--color-white) -1.33826px -2.68497px 0,
		var(--color-white) -0.632387px -2.93259px 0,
		var(--color-white) 0.112807px -2.99788px 0,
		var(--color-white) 0.850988px -2.87678px 0,
		var(--color-white) 1.53626px -2.57681px 0,
		var(--color-white) 2.12601px -2.11662px 0,
		var(--color-white) 2.58358px -1.52484px 0,
		var(--color-white) 2.88051px -0.838245px 0,
		var(--color-white) 2.99835px -0.0995377px 0;
}

.emoji.o2 {
	text-shadow: var(--color-white) 2px 0 0,
		var(--color-white) 1.93783px 0.494808px 0,
		var(--color-white) 1.75517px 0.95885px 0,
		var(--color-white) 1.46338px 1.36328px 0,
		var(--color-white) 1.08061px 1.68294px 0,
		var(--color-white) 0.630645px 1.89797px 0,
		var(--color-white) 0.141475px 1.99499px 0,
		var(--color-white) -0.356492px 1.96797px 0,
		var(--color-white) -0.832295px 1.8186px 0,
		var(--color-white) -1.25635px 1.55615px 0,
		var(--color-white) -1.60229px 1.19695px 0,
		var(--color-white) -1.84861px 0.76332px 0,
		var(--color-white) -1.97999px 0.28224px 0,
		var(--color-white) -1.98826px -0.216391px 0,
		var(--color-white) -1.87292px -0.701565px 0,
		var(--color-white) -1.64112px -1.14313px 0,
		var(--color-white) -1.30729px -1.51361px 0,
		var(--color-white) -0.892175px -1.78998px 0,
		var(--color-white) -0.421592px -1.95506px 0,
		var(--color-white) 0.0752045px -1.99859px 0,
		var(--color-white) 0.567325px -1.91785px 0,
		var(--color-white) 1.02417px -1.71787px 0,
		var(--color-white) 1.41734px -1.41108px 0,
		var(--color-white) 1.72239px -1.01656px 0,
		var(--color-white) 1.92034px -0.55883px 0,
		var(--color-white) 1.9989px -0.0663585px 0;
}

.emoji.o1 {
	text-shadow: var(--color-white) 1px 0 0, var(--color-white) 1px 1px 0,
		var(--color-white) 0 1px 0, var(--color-white) -1px 1px 0,
		var(--color-white) -1px 0 0, var(--color-white) -1px -1px 0,
		var(--color-white) 0 -1px 0, var(--color-white) 1px -1px 0;
}

.emoji.c {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--p-2-5);
	height: var(--p-2-5);
	font-size: 1.35vw;
	margin-right: var(--p-1);
	border-radius: var(--p-3);
	background-color: var(--color-white);
	outline: 2px solid;
	outline-offset: 2px;
	outline-color: var(--color-white);
	text-shadow: 0 0 1px var(--color-darker-1);

	@media (orientation: portrait) {
		width: 10vw;
		height: 10vw;
		font-size: 7vw;
		flex-shrink: 0;
		text-shadow: 0 0 2px var(--color-darker-3);
	}

	.toast & {
		width: var(--p-2);
		height: var(--p-2);
		margin-right: 0;
		flex-shrink: 0;

		@media (orientation: portrait) {
			width: 10vw;
			height: 10vw;
			font-size: 7vw;
			flex-shrink: 0;
		}
	}
}

.emoji-label {
	color: var(--color-white);
	font-size: 1.1vw;
	line-height: 1.2;

	@media (orientation: portrait) {
		font-size: 4.5vw;
	}
}

h1 {
	font-family: var(--font-fira-sans), sans-serif;
	font-weight: 700;
	font-size: var(--font-size-1);
	letter-spacing: 0.01em;
	color: var(--color-orange);
}

h2 {
	font-family: var(--font-fira-sans), sans-serif;
	font-weight: 700;
	font-size: var(--font-size-2);
	letter-spacing: 0.01em;
	line-height: 1;
	padding: 0 0 var(--p-1) 0;

	.card-r &,
	.card-o &,
	.card-g & {
		color: var(--color-black);
	}
}

h3 {
	font-family: var(--font-fira-sans), sans-serif;
	font-weight: 700;
	font-size: var(--font-size-3);
	letter-spacing: 0.01em;
	color: var(--color-white);
}

.text-o {
	color: var(--color-orange);
}

.text-g {
	color: var(--color-green);
}

.text-r {
	color: var(--color-red);
}

.text-b {
	color: var(--color-black);
}

.text-w {
	color: var(--color-white);
}

//
// Buttons
//

.btn {
	width: calc(100% - 6px);
	min-height: 2.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20vw;
	cursor: pointer;
	outline: 2px solid;
	outline-offset: 2px;
	border: none;
	transition: 0.25s ease-in-out;
	margin: var(--p-1) 0 0 0;

	@media (orientation: portrait) {
		min-height: 9vw;
	}

	&:hover {
		outline-color: transparent;
	}
}

.btn-label {
	color: var(--color-black);
	font-family: var(--font-fira-sans), sans-serif;
	font-weight: 500;
	font-size: var(--font-size-4);
	line-height: 1.2;

	.btn-b & {
		color: var(--color-white);
	}
}

.btn-o {
	background-color: var(--color-orange);
	outline-color: var(--color-orange);

	&:hover {
		box-shadow: var(--btn-hover-shadow) var(--color-orange);
	}
}

.btn-g {
	background-color: var(--color-green);
	outline-color: var(--color-green);

	&:hover {
		box-shadow: var(--btn-hover-shadow) var(--color-green);
	}
}

.btn-r {
	background-color: var(--color-red);
	outline-color: var(--color-red);

	&:hover {
		box-shadow: var(--btn-hover-shadow) var(--color-red);
	}
}

.btn-w {
	background-color: var(--color-white);
	outline-color: var(--color-white);

	&:hover {
		box-shadow: var(--btn-hover-shadow) var(--color-white);
	}
}

.btn-b {
	background-color: var(--color-black);
	outline-color: var(--color-black);

	&:hover {
		box-shadow: var(--btn-hover-shadow) var(--color-black);
	}
}

.btn-spacer {
	height: var(--p-1);
}

//
// Forms
//

input {
	width: 100%;
	border: none;
	border-radius: 0.75vw;
	padding: var(--p-0-75) var(--p-1) calc(var(--p-0-75) - 2px) var(--p-1);
	font-size: var(--font-size-4);
	line-height: 1;
	font-weight: 400;
	outline: 2px solid;
	outline-offset: 2px;
	transition: 0.25s ease-in-out;
	margin: 3px 0;

	@media (orientation: portrait) {
		border-radius: var(--p-1-5);
		padding: var(--p-1-5) var(--p-2) calc(var(--p-1-5) - 2px) var(--p-2);
	}

	.card-o &,
	.card-r &,
	.card-g & {
		background-color: var(--color-black);
		color: var(--color-white);
		outline-color: var(--color-black);
	}

	&:focus {
		outline-color: transparent;
		box-shadow: var(--input-focus-shadow) var(--color-darker-3);
	}
}

.label {
	display: block;
	font-size: var(--font-size-4);
	font-weight: 500;
	padding: 0 0 0.25vw 0;
}

.input-legend {
	display: block;
	font-size: var(--font-size-5);
	font-weight: 700;
	color: var(--color-white);
	padding: 0.25vw 0 var(--p-1) var(--p-1);

	@media (orientation: portrait) {
		padding: var(--p-0-75) var(--p-2) var(--p-2-5) var(--p-2);
	}

	.card-r &,
	.card-o &,
	.card-g & {
		color: var(--color-black);
	}
}

//
// Cards
//

.cards {
	display: grid;
	gap: var(--p-2-5);
	grid-template-columns: repeat(3, 1fr);

	@media (orientation: portrait) {
		gap: var(--p-4);
		grid-template-columns: repeat(1, 1fr);
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	aspect-ratio: 1;
	background-color: var(--color-darker-1);
	padding: var(--p-2-5);
	border-radius: var(--p-1-5);
	outline: 2px solid;
	outline-offset: 2px;
	outline-color: var(--color-darker-1);

	form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	@media (orientation: portrait) {
		aspect-ratio: auto;
		padding: var(--p-4);
	}
}

.card-g {
	background-color: var(--color-green);
	outline-color: var(--color-green);
}

.card-o {
	background-color: var(--color-orange);
	outline-color: var(--color-orange);
}

.card-r {
	background-color: var(--color-red);
	outline-color: var(--color-red);
}

.card-b {
	background-color: var(--color-black);
	outline-color: var(--color-black);
}

//
// Modal
//

body.modal-show {
	overflow: hidden;
	padding-left: var(--scrollbar-width);
}

.modal-overlay {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-darker-3);
	backdrop-filter: blur(var(--blur-power-1));
	opacity: 0;
	transition: opacity 0.5s ease;

	.modal-show & {
		opacity: 1;
	}
}

.modal-content {
	width: 25vw;
	position: fixed;
	z-index: 1001;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -25%);
	opacity: 0;
	filter: blur(var(--blur-power-2));
	transition: all 0.5s ease;

	.modal-show & {
		opacity: 1;
		filter: blur(0);
		transform: translate(-50%, -50%);
	}

	@media (orientation: portrait) {
		width: 80vw;
	}
}

.modal-body {
	font-size: var(--font-size-3);
}

//
// Toast
//

.toast-container {
	position: fixed;
	z-index: 1002;
	bottom: var(--p-1);
	right: var(--p-4);
	display: flex;
	flex-direction: column-reverse;
}

.toast {
	width: 33vw;
	border-radius: var(--p-1);
	outline: 2px solid;
	outline-offset: 2px;
	padding: var(--p-1-5) var(--p-2);
	margin: 0 0 var(--p-1-5);
	box-shadow: var(--toast-shadow);
	transform: scale(0.75) translateX(0%) translateY(-100%);
	opacity: 0;
	transition: var(--transition-05);
	filter: blur(var(--blur-power-1));
	height: auto;
	max-height: 100vh;
	overflow: hidden;
	transform-origin: center right;

	&.toast-visible {
		transform: translateY(0);
		opacity: 1;
		filter: blur(0);
	}

	&.toast-hiding {
		max-height: 0;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		opacity: 0;
		filter: blur(var(--blur-power-1));
		transform: scale(0.15) translateX(50%) translateY(50%);
		transition: var(--transition-075);
	}

	@media (orientation: portrait) {
		width: 85vw;
		padding: var(--p-2-5) var(--p-2-5);
	}
}

.toast-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-black);
	font-size: var(--font-size-4);
	font-family: var(--font-fira-sans), sans-serif;
	font-weight: 700;

	.toast-message {
		display: flex;
		align-items: center;
		padding-right: var(--p-1);
		gap: var(--p-1);
	}
}

.toast-error {
	background-color: var(--color-red);
	outline-color: var(--color-red);
}

.toast-success {
	background-color: var(--color-green);
	outline-color: var(--color-green);
}

.toast-close {
	display: flex;
	flex-shrink: 0;
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 2vw;
	font-weight: 400;
	background-color: var(--color-black);
	outline: 2px solid;
	outline-offset: 2px;
	outline-color: var(--color-black);
	transition: var(--transition-025);

	@media (orientation: portrait) {
		width: 8vw;
		height: 8vw;
		font-size: 7vw;
	}

	&:hover {
		outline-color: transparent;
		box-shadow: var(--btn-hover-shadow) var(--color-black);
	}

	.toast-error & {
		color: var(--color-red);
	}

	.toast-success & {
		color: var(--color-green);
	}
}

//
// Custom
//

.seller-info {
	display: flex;
	flex-direction: column;
	gap: var(--p-1);
}

.seller-name {
	font-size: var(--font-size-3);
	font-weight: 700;
}

.seller-inn {
	font-size: var(--font-size-4);
	font-weight: 500;
}
