.sidebar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--sidebar-width);
	height: 100vh;
	background-color: var(--color-darker-1);

	@media (orientation: portrait) {
		z-index: 15;
		left: -100vw;
		transition: var(--transition-05);
		background-color: var(--color-black-trans);
		height: calc(100vh - var(--navbar-height));
		top: calc(var(--navbar-height) + 0px);
		padding: var(--p-3);
		backdrop-filter: blur(var(--blur-power-2));
		filter: blur(var(--blur-power-1));

		.menu-active & {
			left: 0;
			filter: blur(0);
		}
	}
}

.logo-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: var(--p-3);

	@media (orientation: portrait) {
		display: none;
	}
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.account-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--p-3);
}

.hello-human {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: var(--p-1-5) 0;

	@media (orientation: portrait) {
		padding: 0;
	}

	.emoji {
		font-size: 2.5vw;

		@media (orientation: portrait) {
			font-size: 10vw;
			padding-right: var(--p-0-5);
		}
	}

	.human-name {
		font-family: 'Fira Sans', sans-serif;
		font-weight: 500;
		font-size: 1.15vw;
		line-height: 1.2;

		@media (orientation: portrait) {
			font-size: 4.5vw;
		}
	}
}

.main-menu-wrapper {
	display: flex;
}

.main-menu {
	width: 100%;
}

.main-menu .thing {
	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: calc(var(--p-2-5) * -1);
		width: var(--p-2-5);
		height: var(--p-2-5);
		background-color: transparent;
		border-bottom-right-radius: var(--p-1-5);
		box-shadow: calc(var(--p-1-5)) calc(var(--p-1-5)) 0 transparent;
		transition: var(--transition-025);

		@media (orientation: portrait) {
			display: none;
		}
	}

	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: calc(var(--p-2-5) * -1);
		width: var(--p-2-5);
		height: var(--p-2-5);
		background-color: transparent;
		border-top-right-radius: var(--p-1-5);
		box-shadow: calc(var(--p-1-5)) calc(var(--p-1-5) * -1) 0 transparent;
		transition: var(--transition-025);

		@media (orientation: portrait) {
			display: none;
		}
	}

	// &:hover,
	&.active {
		background-color: var(--color-black);

		@media (orientation: portrait) {
			background-color: transparent;
		}

		&::before {
			box-shadow: calc(var(--p-1-5)) calc(var(--p-1-5)) 0 var(--color-black);

			@media (orientation: portrait) {
				display: none;
			}
		}

		&::after {
			box-shadow: calc(var(--p-1-5)) calc(var(--p-1-5) * -1) 0
				var(--color-black);

			@media (orientation: portrait) {
				display: none;
			}
		}
	}

	.active-label {
		position: absolute;
		right: var(--p-1-5);
		color: var(--color-orange);
		font-size: 1.75vw;
		opacity: 0;
		transition: var(--transition-025);

		@media (orientation: portrait) {
			font-size: 7vw;
			transform: rotateZ(180deg) translateY(-10%);
		}
	}

	&.active .active-label {
		opacity: 1;
	}
}

.main-menu {
	.thing {
		padding: var(--p-1-5) var(--p-3);

		@media (orientation: portrait) {
			padding: var(--p-3) var(--p-3);
		}
	}

	.emoji.c {
		transition: 0.25s ease-in-out;
	}

	.thing:hover .emoji-label,
	.thing.active .emoji-label {
		color: var(--color-orange);
		transition: var(--transition-025);
	}

	.thing:hover .emoji.c,
	.thing.active .emoji.c {
		outline-color: transparent;
		box-shadow: var(--btn-hover-shadow) var(--color-white);
	}
}
